/* this is main css styling */
:root {
    --clr-nav: #141824;
    --clr-border: #373e53;
    --clr-heading-mark: #6e7891;
    --clr-hover-color: #31374a;
    --clr-btn-text-logo: #9fa6bc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main container styling */
.container{
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #0f111a;
}

.container__rightMain{
    background: rgb(86, 64, 64);
    width: calc(100vw - 16.5vw);
    height: 100vh;
}

